{% extends "base.html" %}


{% load wagtailimages_tags %}



{% block content %}
<!-- We are using self here instead of looping through post bc we are using the BlogDetailPage class within blocks/models.py -->
{% image self.blog_image fill-900x800 as banner %}
    <img src="{{ banner.url }}" alt="{{ banner.alt }}" style='width:100%; height:auto;'> 

    <div class="container"> 
        <div class="text-center"> 
            <h1> {{self.custom_title}}</h1>
        </div>
    </div>
{% endblock %}

